.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: scale(1.3);
}

.calculator > * {
  border: 1px solid #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.num {
  background-color: #f4f4f4;
}

.row {
  /* background-color: #eee; */
  grid-column: 1 / -1;
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
}

#clear {
    justify-content: flex-start;
}